In [106]:
# Importa bibliotecas necessárias para manipulação de dados e criação de gráficos
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [107]:
df = pd.read_csv('vendas_modificado.csv')
df.head()

,id_da_compra,data,hora,cliente,produto,valor,quantidade,total,status,cidade,estado,pais,cep,frete,pagamento,vendedor,marca
0,13679,2021-03-20,23:35:51,LUCAS Araujo Kuhn,Queijo Mussarela,"R$ 16,87",13,239.31,Pagamento Confirmado,Niterói,RJ,Brasil,24000-000,20.0,Cartão de Crédito,SAMUEL HENRIQUE CAÇADOR,Porto Alegre
1,28070,2020-10-30,09:00:53,MICAEL SOUZA RONCETE,Molho de Tomate,"R$ 3,25",3,9.75,Pagamento Confirmado,Mariana,MG,Brasil,35420-000,0.0,Pix,MICAEL MALAQUIAS DE SOUZA OLIVEIRA,Fugini
2,47484,2021-06-09,15:30:28,FELIPE AUGUSTO NERY SILVA,Água Mineral,"R$ 1,63",9,36.67,Pagamento Confirmado,Cabo Frio,RJ,Brasil,28900-000,22.0,Transferência Bancária,HENRICO MATOS LIMA DA CUNHA,Minalba
3,20809,2022-06-04,08:41:23,LEVI RIBEIRO AMORIM,Carvão,"R$ 8,74",4,54.96,Em Separação,Campos dos Goytacazes,RJ,Brasil,28000-000,20.0,Pix,GABRIEL QUEIROZ DE AGUIAR,Marca-Brás
4,47123,2019-05-04,13:38:45,GABRIEL MATOS LIMA DA CUNHA,Café,"R$ 9,48",2,18.96,Em Separação,Conselheiro Lafaiete,MG,Brasil,36400-000,0.0,Cartão de Crédito,HENRICO MATOS LIMA DA CUNHA,3 Corações

In [108]:
df_ordenado = df.sort_values(by="id_da_compra")

In [109]:
display(df_ordenado.head(3))

,id_da_compra,data,hora,cliente,produto,valor,quantidade,total,status,cidade,estado,pais,cep,frete,pagamento,vendedor,marca
4853,0,2019-07-07,11:05:44,PEDRO SILVA RAMOS,Macarrão,"R$ 2,63",14,46.82,Aguardando Pagamento,Ouro Branco,MG,Brasil,3642XXXX,10.0,Cartão de Crédito,VICTOR GONÇALVES DONADONI,Renata
143431,0,2019-07-07,11:05:44,PEDRO SILVA RAMOS,Sabonete,"R$ 2,4",15,46.00,Aguardando Pagamento,Ouro Branco,MG,Brasil,36420-000,10.0,Cartão de Crédito,VICTOR GONÇALVES DONADONI,Nivea
364791,0,2019-07-07,11:05:44,PEDRO SILVA RAMOS,Pasta de Dente,"R$ 2,98",9,36.82,Aguardando Pagamento,Ouro Branco,MG,Brasil,36420-000,10.0,Cartão de Crédito,VICTOR GONÇALVES DONADONI,Colgate

In [110]:
# Exibe a contagem de valores nulos antes da conversão
display(df['valor'].isnull().sum())

# Remove o símbolo "R$", espaços extras e substitui vírgula por ponto
df["valor"] = df["valor"].astype(str).str.replace("R$", "", regex=True).str.strip()
df["valor"] = df["valor"].str.replace(",", ".", regex=True)  

# Remove qualquer caractere que não seja número ou ponto decimal
df["valor"] = df["valor"].str.replace(r"[^\d.]", "", regex=True)  

# Converte a coluna para numérico (float), substituindo erros por NaN
df["valor"] = pd.to_numeric(df["valor"], errors="coerce")  

# Exibe a contagem de valores nulos após a conversão
display(df['valor'].isnull().sum())

np.int64(0)

np.int64(83)

In [111]:
display(df.head(5))

,id_da_compra,data,hora,cliente,produto,valor,quantidade,total,status,cidade,estado,pais,cep,frete,pagamento,vendedor,marca
0,13679,2021-03-20,23:35:51,LUCAS Araujo Kuhn,Queijo Mussarela,16.87,13,239.31,Pagamento Confirmado,Niterói,RJ,Brasil,24000-000,20.0,Cartão de Crédito,SAMUEL HENRIQUE CAÇADOR,Porto Alegre
1,28070,2020-10-30,09:00:53,MICAEL SOUZA RONCETE,Molho de Tomate,3.25,3,9.75,Pagamento Confirmado,Mariana,MG,Brasil,35420-000,0.0,Pix,MICAEL MALAQUIAS DE SOUZA OLIVEIRA,Fugini
2,47484,2021-06-09,15:30:28,FELIPE AUGUSTO NERY SILVA,Água Mineral,1.63,9,36.67,Pagamento Confirmado,Cabo Frio,RJ,Brasil,28900-000,22.0,Transferência Bancária,HENRICO MATOS LIMA DA CUNHA,Minalba
3,20809,2022-06-04,08:41:23,LEVI RIBEIRO AMORIM,Carvão,8.74,4,54.96,Em Separação,Campos dos Goytacazes,RJ,Brasil,28000-000,20.0,Pix,GABRIEL QUEIROZ DE AGUIAR,Marca-Brás
4,47123,2019-05-04,13:38:45,GABRIEL MATOS LIMA DA CUNHA,Café,9.48,2,18.96,Em Separação,Conselheiro Lafaiete,MG,Brasil,36400-000,0.0,Cartão de Crédito,HENRICO MATOS LIMA DA CUNHA,3 Corações

In [112]:
df["produto"] = df["produto"].str.replace(r"[^a-zA-ZÀ-ÖØ-öø-ÿ\s]", "", regex=True).str.strip()

In [113]:

df['produto'].unique()

array(['Queijo Mussarela', 'Molho de Tomate', 'Água Mineral', 'Carvão',
       'Café', 'Feijão', 'Condicionador', 'Sabonete', 'Açúcar',
       'Manteiga', 'Papel Higiênico', 'Óleo de Soja', 'Vinho', 'Macarrão',
       'Shampoo', 'Presunto', 'Cerveja', 'Papel Toalha', 'Pasta de Dente',
       'Pão de Forma', 'Sabão em Pó', 'Amaciante', 'Desinfetante',
       'Refrigerante', 'Arroz', 'Farinha de Trigo', 'Biscoito Recheado',
       'Sal', 'Suco de Laranja', 'Leite Integral', 'Detergente',
       'Refrigkrante', 'Scl', 'Papel qoalha', 'Desinfetanue',
       'Qbeijo Mussarela', 'Água Mineras', 'Presuntd', 'Macawrão',
       'Sucoyde Laranja', 'Clfé', 'Desinfekante', 'Majarrão', 'Cnfé',
       'Farinha de Tripo', 'Manteigt', 'zabonete', 'Mqcarrão', 'Arroc',
       'tal', 'Sabonepe', 'Papel Twalha', 'Água Mineual', 'Condicioiador',
       'Condibionador', 'Caft', 'ieijão', 'Açúcaz', 'Amaciayte', 'Caff',
       'Mopho de Tomate', 'Molmo de Tomate', 'Biscoitq Recheado',
       'Macirrão', 'Deqergente', 'Cafc', 'Queijo Mussarelz', 'Deterwente'],
      dtype=object)

In [114]:
mapeamento_produtos = {
    "Refrigkrante": "Refrigerante",
    "Scl": "Sal",
    "Papel qoalha": "Papel Toalha",
    "Desinfetanue": "Desinfetante",
    "Qbeijo Mussarela": "Queijo Mussarela",
    "Água Mineras": "Água Mineral",
    "Presuntd": "Presunto",
    "Macawrão": "Macarrão",
    "Sucoyde Laranja": "Suco de Laranja",
    "Clfé": "Café",
    "Desinfekante": "Desinfetante",
    "Majarrão": "Macarrão",
    "Cnfé": "Café",
    "Farinha de Tripo": "Farinha de Trigo",
    "Manteigt": "Manteiga",
    "zabonete": "Sabonete",
    "Mqcarrão": "Macarrão",
    "Arroc": "Arroz",
    "tal": "Sal",
    "Sabonepe": "Sabonete",
    "Papel Twalha": "Papel Toalha",
    "Água Mineual": "Água Mineral",
    "Condicioiador": "Condicionador",
    "Condibionador": "Condicionador",
    "Caft": "Café",
    "ieijão": "Feijão",
    "Açúcaz": "Açúcar",
    "Amaciayte": "Amaciante",
    "Caff": "Café",
    "Mopho de Tomate": "Molho de Tomate",
    "Molmo de Tomate": "Molho de Tomate",
    "Biscoitq Recheado": "Biscoito Recheado",
    "Macirrão": "Macarrão",
    "Deqergente": "Detergente",
    "Cafc": "Café",
    "Queijo Mussarelz": "Queijo Mussarela",
    "Deterwente": "Detergente"
}

# Aplicando o mapeamento ao DataFrame
df["produto"] = df["produto"].replace(mapeamento_produtos)

In [115]:
#display(df.head(50))
df['produto'].unique()

array(['Queijo Mussarela', 'Molho de Tomate', 'Água Mineral', 'Carvão',
       'Café', 'Feijão', 'Condicionador', 'Sabonete', 'Açúcar',
       'Manteiga', 'Papel Higiênico', 'Óleo de Soja', 'Vinho', 'Macarrão',
       'Shampoo', 'Presunto', 'Cerveja', 'Papel Toalha', 'Pasta de Dente',
       'Pão de Forma', 'Sabão em Pó', 'Amaciante', 'Desinfetante',
       'Refrigerante', 'Arroz', 'Farinha de Trigo', 'Biscoito Recheado',
       'Sal', 'Suco de Laranja', 'Leite Integral', 'Detergente'],
      dtype=object)

In [116]:
# Converter a coluna de data pra garantir que não terá valores inválidos de uma data
df['data'] = pd.to_datetime(df['data'], format='%Y-%m-%d', errors='coerce')

In [117]:
# Identificar valores inválidos
valores_invalidos_hora = df[df['hora'].isna()]

if not valores_invalidos_hora.empty:
    print("Valores inválidos encontrados na coluna de hora:")
    print(valores_invalidos_hora['hora'])
else:
    print("Todos os valores na coluna de hora estão no formato correto.")

Todos os valores na coluna de hora estão no formato correto.

In [118]:
# Converter a coluna de hora
df['hora'] = pd.to_datetime(df['hora'], format='%H:%M:%S', errors='coerce')

In [119]:
#padronizando os nomes nas colunas
df['status'] = df['status'].str.lower().str.strip()
df['pagamento'] = df['pagamento'].str.lower().str.strip()
df['marca'] = df['marca'].str.title().str.strip()  # Primeira letra maiúscula

In [120]:
#display(df.head(50))
df['status'].unique()

array(['pagamento confirmado', 'em separação', 'entregue com sucesso',
       'aguardando pagamento', 'em transporte', 'ap', 'entregue', 'pc',
       'sep', 'separando', 'pgto confirmado', 'transp', 'transportando',
       'entg', 'aguardando pgto'], dtype=object)

In [121]:
mapeamento_status = {
    "pagamento confirmado": "Pagamento Confirmado",
    "em separação": "Em Separação",
    "entregue com sucesso": "Entregue",
    "aguardando pagamento": "Aguardando Pagamento",
    "em transporte": "Em Transporte",
    "ap": "Aguardando Pagamento",
    "entregue": "Entregue",
    "pc": "Pagamento Confirmado",
    "sep": "Em Separação",
    "separando": "Em Separação",
    "pgto confirmado": "Pagamento Confirmado",
    "transp": "Em Transporte",
    "transportando": "Em Transporte",
    "entg": "Entregue",
    "aguardando pgto": "Aguardando Pagamento"
}

# Aplicando o mapeamento ao DataFrame
df["status"] = df["status"].replace(mapeamento_status)

In [122]:
df['status'].unique()

array(['Pagamento Confirmado', 'Em Separação', 'Entregue',
       'Aguardando Pagamento', 'Em Transporte'], dtype=object)

In [123]:
df['pagamento'].unique()

array(['cartão de crédito', 'pix', 'transferência bancária', 'boleto',
       'pix à vista', 'cartão crédito à vista', 'pagamento instantâneo',
       'cartão crédito', 'boleto à vista', 'doc', 'ted',
       'boleto no dinheiro'], dtype=object)

In [124]:
mapeamento_pagamento = {
    "cartão de crédito": "Cartão de Crédito",
    "pix": "Pix",
    "transferência bancária": "Transferência Bancária",
    "boleto": "Boleto",
    "pix à vista": "Pix",
    "cartão crédito à vista": "Cartão de Crédito",
    "pagamento instantâneo": "Pix",
    "cartão crédito": "Cartão de Crédito",
    "boleto à vista": "Boleto",
    "doc": "Transferência Bancária",
    "ted": "Transferência Bancária",
    "boleto no dinheiro": "Boleto"
}

# Aplicando o mapeamento ao DataFrame
df["pagamento"] = df["pagamento"].replace(mapeamento_pagamento)

df['pagamento'].unique()

array(['Cartão de Crédito', 'Pix', 'Transferência Bancária', 'Boleto'],
      dtype=object)

In [125]:
#nova coluna com o nome de total do produto, quantidade x valor
#nova coluna com o total da compra. todos os produtos somados mais o valor do frete
# se o nome do produto + marca + id da compra for igual = duplicata

In [126]:
df['vendedor'].unique()

array(['SAMUEL HENRIQUE CAÇADOR', 'MICAEL MALAQUIAS DE SOUZA OLIVEIRA',
       'HENRICO MATOS LIMA DA CUNHA', 'GABRIEL QUEIROZ DE AGUIAR',
       'VICTOR GONÇALVES DONADONI',
       'FELIPE HENRIQUE COSTA BARNABE MARAZO', 'HENRICO VICTOR ALVES',
       'CARLOS QUEIROZ DE AGUIAR', 'LUCAS VITOR FAÇANHA NEVES',
       'PAULO SOUZA RONCETE', nan], dtype=object)

In [127]:
# Contar a quantidade de vezes que cada produto aparece na coluna
#contagem_produtos = df.groupby('produto').size().reset_index(name='contagem')  # Substitua 'produto' pelo nome da sua coluna

# Ajustar as configurações de exibição do Pandas
#pd.set_option('display.max_rows', None)  # Exibir todas as linhas
#pd.set_option('display.max_columns', None)  # Exibir todas as colunas

# Exibir a contagem de cada produto
##print(contagem_produtos)

In [128]:
#código  pra salvar os dados em um novo arquivo

#df.to_csv(r"C:\Users\micae\OneDrive\Desktop\Faculdade\CD\vendas_limpo.csv", index=False, encoding="utf-8")
#print("Arquivo limpo salvo com sucesso!")
#C:\Users\micae\OneDrive\Desktop\Faculdade\CD\

In [129]:
#df["marca"].unique()
#df["cep"].unique()

df["cep"] = df["cep"].apply(lambda x: x if pd.notnull(x) and len(x) == 9 and '-' in x else None)

df["cep"].unique()

array(['24000-000', '35420-000', '28900-000', '28000-000', '36400-000',
       '36340-000', '01000-000', '36600-000', '36300-000', '24400-000',
       '09700-000', '25000-000', '27900-000', '36570-000', '36000-000',
       '07000-000', '36120-000', '13000-000', '36212-000', '36280-000',
       '36200-000', '24800-000', '36880-000', '25600-000', '36420-000',
       '36320-000', '36240-000', '36770-000', '25500-000', '36500-000',
       '36710-000', '36123-000', '25900-000', '36108-000', None,
       '36196-000', '36780-000', '36680-000', '30000-000', '36510-000',
       '36415-000', '37370-000', '36330-000', '36700-000', '26100-000',
       '36335-000', '36345-000', '20000-000', '26000-000', '36350-000',
       '12200-000', '27200-000', '36140-000', '09000-000', '35400-000',
       '36325-000', '23900-000'], dtype=object)

Antes de fazer o preenchimento do meu CEP pelo que mais se repete, preciso retirar os valores inválidos tipo simbolos, letras ou que tem mais/menos valores do que deveria.
depois, usar os valores corretos pra preencher os incorretos

In [130]:
df["cep"] = df.groupby("cidade")["cep"].transform(lambda x: x.ffill().bfill())

In [131]:
df['cep'].unique()

array(['24000-000', '35420-000', '28900-000', '28000-000', '36400-000',
       '36340-000', '01000-000', '36600-000', '36300-000', '24400-000',
       '09700-000', '25000-000', '27900-000', '36570-000', '36000-000',
       '07000-000', '36120-000', '13000-000', '36212-000', '36280-000',
       '36200-000', '24800-000', '36880-000', '25600-000', '36420-000',
       '36320-000', '36240-000', '36770-000', '25500-000', '36500-000',
       '36710-000', '36123-000', '25900-000', '36108-000', '36196-000',
       '36780-000', '36680-000', '30000-000', '36510-000', '36415-000',
       '37370-000', '36330-000', '36700-000', '26100-000', '36335-000',
       '36345-000', '20000-000', '26000-000', '36350-000', '12200-000',
       '27200-000', '36140-000', '09000-000', '36325-000', '35400-000',
       '23900-000'], dtype=object)

In [132]:

df.isnull().sum()

id_da_compra       0
data               0
hora               0
cliente            0
produto            0
valor             83
quantidade         0
total           3685
status             0
cidade             0
estado             0
pais               0
cep                0
frete           7371
pagamento          0
vendedor        3680
marca              0
dtype: int64

In [133]:
#código  pra salvar os dados em um novo arquivo

#df.to_csv(r"C:\Users\micae\OneDrive\Desktop\Faculdade\CD\vendas_limpo.csv", index=False, encoding="utf-8")
#print("Arquivo limpo salvo com sucesso!")

In [134]:
df = df.sort_values(by="id_da_compra")
display(df.head(4))

,id_da_compra,data,hora,cliente,produto,valor,quantidade,total,status,cidade,estado,pais,cep,frete,pagamento,vendedor,marca
4853,0,2019-07-07,1900-01-01 11:05:44,PEDRO SILVA RAMOS,Macarrão,2.63,14,46.82,Aguardando Pagamento,Ouro Branco,MG,Brasil,36420-000,10.0,Cartão de Crédito,VICTOR GONÇALVES DONADONI,Renata
143431,0,2019-07-07,1900-01-01 11:05:44,PEDRO SILVA RAMOS,Sabonete,2.40,15,46.00,Aguardando Pagamento,Ouro Branco,MG,Brasil,36420-000,10.0,Cartão de Crédito,VICTOR GONÇALVES DONADONI,Nivea
364791,0,2019-07-07,1900-01-01 11:05:44,PEDRO SILVA RAMOS,Pasta de Dente,2.98,9,36.82,Aguardando Pagamento,Ouro Branco,MG,Brasil,36420-000,10.0,Cartão de Crédito,VICTOR GONÇALVES DONADONI,Colgate
119876,0,2019-07-07,1900-01-01 11:05:44,PEDRO SILVA RAMOS,Sabonete,288.20,7,25.40,Aguardando Pagamento,Ouro Branco,MG,Brasil,36420-000,10.0,Cartão de Crédito,VICTOR GONÇALVES DONADONI,Lux

In [139]:
print(df.duplicated().sum())

6260